.error {
    padding:40px 0;
    text-align: center;
}

.error img {
    width:100%;
}

.error-header {
    background-image: url(
        'https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif'
    );
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
}

.error-header h1 {
    font-size:80px;
}

.error-contant {
    margin-top:-50px;
}

.error-contant button {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    cursor: pointer;
}